<ui:fragment xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:fieldset legend="#{labels.documentos}" rendered="#{fn:length(vendaMadeiraController.documentos) > 0}">
		<p:dataGrid id="documentoGrid" style="width: 100%" value="#{vendaMadeiraController.documentos}" layout="grid" columns="1" var="entity"
			emptyMessage="#{labels.nenhum_resultado}" rowIndexVar="index">
			<p:panel header="#{entity.nomeApresentacao}" style="text-align:center" styleClass="documento-requisicao-contrato-panel">
				<h:panelGrid columns="1" style="width:100%; height: 60px;">
					<p:commandButton icon="ui-icon-arrowthickstop-1-s" value="#{labels.download}" process="@this" ajax="false" immediate="true"
						onclick="liberaDownload(); PrimeFaces.monitorDownload(showStatus, hideStatus)">
						<p:fileDownload value="#{vendaMadeiraController.getArquivoDocumento(entity)}" />
					</p:commandButton>

					<p:commandButton icon="fa fa-fw fa-refresh" value="#{labels.botao_substituir_arquivo}"
						oncomplete="if (args &amp;&amp; !args.validationFailed) PF('substituicaoDialog').show();" process=":editForm:editGrid"
						update=":editForm:editGrid editForm:substituicaoGrid" rendered="#{vendaMadeiraController.arquivoFinalSubstituivel}" style="margin-right: 10px;" />
				</h:panelGrid>
			</p:panel>
		</p:dataGrid>
	</p:fieldset>

</ui:fragment>