<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid columns="1" width="100%">
			<h2>#{labels.menu_pessoas} / #{labels.menu_pessoas_avaliacao} / #{labels.menu_pessoas_avaliacao_consulta}</h2>
		</h:panelGrid>

		<h:form id="searchForm">
			<h:panelGrid id="searchGrid" width="100%" rendered="#{null == avaliacaoController.entity}">

				<h:panelGrid columns="5" width="100%" columnClasses=",,,,alignRight" id="filterGrid">
					<p:outputLabel for="processoFilter" value="#{labels.processo_avaliacao}" styleClass="label" />
					<p:outputLabel for="colaboradorFilter" value="#{labels.colaborador}" styleClass="label" />
					<p:outputLabel for="tipoFilter" value="#{labels.tipo}" styleClass="label" />
					<p:outputLabel for="etapaFilter" value="#{labels.etapa}" styleClass="label" />
					<p:spacer />

					<p:selectOneMenu id="processoFilter" value="#{avaliacaoController.filterEntity.idProcesso}" style="width:360px;" required="true"
						requiredMessage="#{labels.obrigatoriedade_processo_avaliacao}">
						<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
						<f:selectItems value="#{avaliacaoController.processos}" var="item" itemLabel="#{item.titulo}" itemValue="#{item.id}" />
					</p:selectOneMenu>
					<p:selectOneMenu id="colaboradorFilter" value="#{avaliacaoController.filterEntity.idColaborador}" style="width:400px;" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{avaliacaoController.colaboradores}" var="item" itemLabel="#{item.nome}" itemValue="#{item.id}" />
					</p:selectOneMenu>
					<p:selectOneMenu id="tipoFilter" value="#{avaliacaoController.filterEntity.tipo}" style="width:200px;">
						<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{domAvaliacaoController.tipoMap}" />
					</p:selectOneMenu>
					<p:selectOneMenu id="etapaFilter" value="#{avaliacaoController.filterEntity.codigoEtapa}" style="width:250px;">
						<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{domAvaliacaoController.etapaMap}" />
					</p:selectOneMenu>
					<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update="dtbEntities searchMessages"
						actionListener="#{avaliacaoController.search}" process="@this, filterGrid" />
				</h:panelGrid>

				<p:spacer height="10px" />
				<p:separator />
				<p:spacer height="10px" />
				<p:messages id="searchMessages" />

				<ui:include src="/pages/inc/avaliacao/lista.xhtml" />

			</h:panelGrid>

			<p:defaultCommand target="searchButton" />
		</h:form>

		<h:form id="editForm">
			<h:panelGrid id="editGrid" width="100%" rendered="#{null != avaliacaoController.entity}">
				<h2>#{avaliacaoController.entitySimple.nomeColaborador} - #{avaliacaoController.entitySimple.deTipo}</h2>

				<ui:include src="/pages/inc/avaliacao/itens_competencia.xhtml" />

				<p:spacer />

				<ui:include src="/pages/inc/avaliacao/itens_desempenho.xhtml" />

				<p:spacer />

				<p:fieldset legend="#{labels.resultado}" rendered="#{avaliacaoController.entity.finalizacao}">
					<h:panelGrid columns="2" style="width: 400px; text-align: center;">
						<p:outputLabel value="#{labels.competencia}" styleClass="label" />
						<p:outputLabel value="#{labels.desempenho}" styleClass="label" />

						<p:outputLabel value="#{avaliacaoController.entity.resultadoCompetencia}" />
						<p:outputLabel value="#{avaliacaoController.entity.resultadoDesempenho}" />
					</h:panelGrid>
				</p:fieldset>

				<p:spacer />
				<p:separator />
				<p:spacer />

				<p:scrollPanel id="messagesPanel" scrollMode="native" styleClass="messagesPanel">
					<p:messages />
				</p:scrollPanel>

				<p:toolbar>
					<p:toolbarGroup align="left">
						<p:commandButton id="liberaEdicaoButton" icon="fa fa-fw fa-unlock" value="#{labels.botao_liberar_edicao} "
							actionListener="#{avaliacaoController.liberaEdicao}" process="editGrid" update=":editForm :searchForm"
							rendered="#{avaliacaoController.liberavelEdicao}">
							<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmacao_liberacao_edicao}" icon="ui-icon-alert" />
						</p:commandButton>
						<p:commandButton icon="fa fa-fw fa-close" value="#{labels.botao_fechar}" actionListener="#{avaliacaoController.close}" process="@this"
							update=":searchForm :editForm" />
					</p:toolbarGroup>
				</p:toolbar>

			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>