<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid columns="1" width="100%">
			<h2>#{labels.menu_pessoas} / #{labels.menu_pessoas_avaliacao} / #{labels.menu_pessoas_avaliacao_resultado}</h2>
		</h:panelGrid>

		<h:form id="searchForm">
			<h:panelGrid id="searchGrid" width="100%" rendered="#{null == processoAvaliacaoColaboradorController.entity}">

				<h:panelGrid columns="3" width="100%" columnClasses=",,alignRight" id="filterGrid">
					<p:outputLabel for="processoFilter" value="#{labels.processo_avaliacao}" styleClass="label" />
					<p:outputLabel for="escalaAvaliacaoFilter" value="#{labels.escala_avaliacao}" styleClass="label" />
					<p:spacer />

					<p:selectOneMenu id="processoFilter" value="#{processoAvaliacaoColaboradorController.filterEntity.idProcesso}" style="width:360px;"
						required="true" requiredMessage="#{labels.obrigatoriedade_processo_avaliacao}">
						<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
						<f:selectItems value="#{processoAvaliacaoColaboradorController.processos}" var="item" itemLabel="#{item.titulo}" itemValue="#{item.id}" />
					</p:selectOneMenu>
					<p:selectOneMenu id="escalaAvaliacaoFilter" value="#{processoAvaliacaoColaboradorController.filterEntity.codigoEscala}" style="width:250px;">
						<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{processoAvaliacaoColaboradorController.escalasAvaliacao}" var="item" itemLabel="#{item.nome}" itemValue="#{item.codigo}" />
					</p:selectOneMenu>
					<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update="dtbEntities searchMessages"
						actionListener="#{processoAvaliacaoColaboradorController.search}" process="@this, filterGrid" />
				</h:panelGrid>

				<p:spacer height="10px" />
				<p:separator />
				<p:spacer height="10px" />
				<p:messages id="searchMessages" />


				<p:dataTable widgetVar="dtb" id="dtbEntities" var="entity" emptyMessage="#{labels.nenhum_resultado}"
					value="#{processoAvaliacaoColaboradorController.entities}" paginator="true" paginatorPosition="bottom" rows="30"
					currentPageReportTemplate="{currentPage} #{labels.de} {totalPages}" paginatorAlwaysVisible="false"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

					<p:column headerText="#{labels.colaborador}" sortBy="#{entity.nomeColaborador}" style="text-align: center;">
						<h:outputText value="#{entity.nomeColaborador}" />
					</p:column>

					<p:column headerText="#{labels.resultado_gestor}" sortBy="#{entity.resultado80}" style="width: 120px; text-align: center;">
						<h:outputText value="#{entity.resultado80}" />
					</p:column>

					<p:column headerText="#{labels.resultado_indicacao}" sortBy="#{entity.resultado20}" style="width: 120px; text-align: center;">
						<h:outputText value="#{entity.resultado20}" />
					</p:column>

					<p:column headerText="#{labels.resultado_desempenho_atingido}" sortBy="#{entity.resultadoDesempenho}" style="width: 180px; text-align: center;">
						<h:outputText value="#{entity.resultadoDesempenho}" />
					</p:column>

					<p:column headerText="#{labels.resultado_final}" sortBy="#{entity.resultado}" style="width: 120px; text-align: center;">
						<h:outputText value="#{entity.resultado}" />
					</p:column>

					<p:column headerText="#{labels.escala_avaliacao}" sortBy="#{entity.nomeEscala}" style="width: 250px; text-align: center;">
						<h:outputText value="#{entity.nomeEscala}" />
					</p:column>

					<f:facet name="footer">
						<p:commandLink title="#{labels.excel}" ajax="false" disabled="#{fn:length(processoAvaliacaoColaboradorController.entities) lt 1}">
							<p:graphicImage value="#{resource['primefaces-ttg:images/excel.png']}" />
							<p:dataExporter type="xls" target="dtbEntities" fileName="avaliacoes" />
						</p:commandLink>
					</f:facet>

				</p:dataTable>

			</h:panelGrid>

			<p:defaultCommand target="searchButton" />
		</h:form>
	</ui:define>
</ui:composition>
</html>