<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">

		<script type="text/javascript">
			function chart-dashboard-extender() {
				this.cfg.grid = {
						  gridLineColor: '#cccccc'    // *Color of the grid lines.
						        background: '#fffdf6',      // CSS color spec for background color of grid.
						        borderColor: '#999999',     // CSS color spec for border around grid.
						        borderWidth: 2.0,           // pixel width of border around grid.
						        shadow: true,               // draw a shadow for grid.
						        shadowAngle: 45,            // angle of the shadow.  Clockwise from x axis.
						        shadowOffset: 1.5,          // offset from the line of the shadow.
						        shadowWidth: 3,             // width of the stroke for the shadow.
						        shadowDepth: 3,             // Number of strokes to make when drawing shadow.
						                                    // Each stroke offset by shadowOffset from the last.
						        shadowAlpha: 0.07           // Opacity of the shadow
						        renderer: $.jqplot.CanvasGridRenderer,  // renderer to use to draw the grid.
						        rendererOptions: {}         // options to pass to the renderer.  Note, the default
						                                    // CanvasGridRenderer takes no additional options.
				}
			}
		</script>
		<h:panelGrid columns="1" width="100%">
			<h2>#{labels.menu_pessoas} / #{labels.menu_pessoas_avaliacao} / #{labels.menu_pessoas_avaliacao_dashboard}</h2>
		</h:panelGrid>

		<h:form id="searchForm">
			<h:panelGrid id="searchGrid" width="100%" rendered="#{null == avaliacaoController.entity}">

				<h:panelGrid columns="2" width="100%" columnClasses=",alignRight" id="filterGrid">
					<p:outputLabel for="processoFilter" value="#{labels.processo_avaliacao}" styleClass="label" />
					<p:spacer />

					<p:selectOneMenu id="processoFilter" value="#{avaliacaoController.filterEntity.idProcesso}" style="width:360px;" required="true"
						requiredMessage="#{labels.obrigatoriedade_processo_avaliacao}">
						<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
						<f:selectItems value="#{avaliacaoController.processos}" var="item" itemLabel="#{item.titulo}" itemValue="#{item.id}" />
					</p:selectOneMenu>
					<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update=":searchForm"
						actionListener="#{avaliacaoController.search}" process="@this, filterGrid" />
				</h:panelGrid>

				<p:spacer height="10px" />
				<p:separator />
				<p:spacer height="10px" />
				<p:messages id="searchMessages" />

				<h:panelGrid rendered="#{fn:length(avaliacaoController.entities) gt 0}" style="width: 100%;" columns="2"
					columnClasses="column-metade column-metade">

					<h:panelGrid style="width: 100%; text-align: center;">
						<h:outputText value="#{labels.avaliacoes_por_etapas}" styleClass="label" style="font-size: 20px !important;" />

						<p:dataGrid columns="3" style="width: 100%;" value="#{avaliacaoController.graficoEtapas.data.entrySet().toArray()}" layout="grid" var="item"
							styleClass="dashboard-panel">
							<p:panel header="#{item.key}" style="text-align:center" styleClass="dashboard-panel">
								<h:outputText value="#{item.value}" />
							</p:panel>
						</p:dataGrid>

						<p:chart type="pie" model="#{avaliacaoController.graficoEtapas}" style="width:100%; height: 350px;" />
					</h:panelGrid>


					<h:panelGrid style="width: 100%; text-align: center;">
						<h:outputText value="#{labels.avaliacoes_por_tipos}" styleClass="label" style="font-size: 20px !important;" />

						<p:dataGrid columns="3" style="width: 100%;" value="#{avaliacaoController.graficoTipos.data.entrySet().toArray()}" layout="grid" var="item"
							styleClass="dashboard-panel">
							<p:panel header="#{item.key}" style="text-align:center" styleClass="dashboard-panel">
								<h:outputText value="#{item.value}" />
							</p:panel>
						</p:dataGrid>

						<p:chart type="pie" model="#{avaliacaoController.graficoTipos}" style="width:100%; height: 350px;" />
					</h:panelGrid>

				</h:panelGrid>
			</h:panelGrid>

			<p:defaultCommand target="searchButton" />
		</h:form>
	</ui:define>
</ui:composition>
</html>