<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid columns="1" width="100%">
			<h2>#{labels.menu_pessoas} / #{labels.menu_pessoas_avaliacao} / #{labels.menu_pessoas_avaliacao_indicacao}</h2>
		</h:panelGrid>

		<h:form id="searchForm">
			<h:panelGrid id="searchGrid" width="100%">

				<h:panelGrid columns="2" width="100%" columnClasses=",alignRight" id="filterGrid">
					<p:outputLabel for="processoFilter" value="#{labels.processo_avaliacao}" styleClass="label" />
					<p:spacer />

					<p:selectOneMenu id="processoFilter" value="#{avaliacaoController.filterEntity.idProcesso}" style="width:360px;" required="true"
						requiredMessage="#{labels.obrigatoriedade_processo_avaliacao}" disabled="#{fn:length(avaliacaoController.processos) eq 1}">
						<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
						<f:selectItems value="#{avaliacaoController.processos}" var="item" itemLabel="#{item.titulo}" itemValue="#{item.id}" />
					</p:selectOneMenu>
					<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update="dtbEntities searchMessages"
						actionListener="#{avaliacaoController.search}" process="@this, filterGrid" />
				</h:panelGrid>

				<p:spacer height="10px" />
				<p:separator />
				<p:spacer height="10px" />
				<p:messages id="searchMessages" />

				<p:dataTable widgetVar="dtb" id="dtbEntities" var="entity" emptyMessage="#{labels.nenhum_resultado}" value="#{avaliacaoController.entities}">

					<p:column headerText="#{labels.colaborador}" sortBy="#{entity.nomeColaborador}" style="width: 350px; text-align: center;">
						<h:outputText value="#{entity.nomeColaborador}" />
					</p:column>

					<p:column headerText="#{labels.avaliador}" style="text-align: center;">
						<p:selectOneMenu value="#{entity.idAvaliador}" style="width:360px;" required="true" requiredMessage="#{labels.obrigatoriedade_avaliador}">
							<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
							<f:selectItems value="#{avaliacaoController.colaboradores}" var="item" itemLabel="#{item.nome}" itemValue="#{item.id}"
								itemDisabled="#{item.id eq entity.idColaborador}" />
						</p:selectOneMenu>
					</p:column>

					<f:facet name="footer">
						<p:commandButton icon="fa fa-fw fa-save" value="#{labels.botao_gravar} " actionListener="#{avaliacaoController.gravaIndicacoes}"
							process="@this, dtbEntities" update=":searchForm" rendered="#{fn:length(avaliacaoController.entities) > 0}">
							<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmacao_gravacao_indicacoes}" icon="ui-icon-alert" />
						</p:commandButton>
					</f:facet>
				</p:dataTable>

			</h:panelGrid>

			<p:defaultCommand target="searchButton" />
		</h:form>

	</ui:define>
</ui:composition>
</html>