<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid columns="1" width="100%">
			<h2>#{labels.menu_pessoas} / #{labels.menu_pessoas_avaliacao} / #{labels.menu_pessoas_avaliacao_processo}</h2>
		</h:panelGrid>

		<h:form id="searchForm">
			<h:panelGrid id="searchGrid" width="100%" rendered="#{null == avaliacaoController.entity}">

				<h:panelGrid columns="2" width="100%" columnClasses=",alignRight" id="filterGrid">
					<p:outputLabel for="processoFilter" value="#{labels.processo_avaliacao}" styleClass="label" />
					<p:spacer />

					<p:selectOneMenu id="processoFilter" value="#{avaliacaoController.filterEntity.idProcesso}" style="width:360px;" required="true"
						requiredMessage="#{labels.obrigatoriedade_processo_avaliacao}" disabled="#{fn:length(avaliacaoController.processos) eq 1}">
						<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
						<f:selectItems value="#{avaliacaoController.processos}" var="item" itemLabel="#{item.titulo}" itemValue="#{item.id}" />
					</p:selectOneMenu>
					<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update="dtbEntities searchMessages"
						actionListener="#{avaliacaoController.search}" process="@this, filterGrid" />
				</h:panelGrid>

				<p:spacer height="10px" />
				<p:separator />
				<p:spacer height="10px" />
				<p:messages id="searchMessages" />


				<ui:include src="/pages/inc/avaliacao/lista.xhtml" />

			</h:panelGrid>

			<p:defaultCommand target="searchButton" />
		</h:form>

		<h:form id="editForm">
			<h:panelGrid id="editGrid" width="100%" rendered="#{null != avaliacaoController.entity}">
				<h2>#{avaliacaoController.entitySimple.nomeColaborador} - #{avaliacaoController.entitySimple.deTipo}</h2>

				<ui:include src="/pages/inc/avaliacao/itens_competencia.xhtml" />

				<p:spacer />

				<ui:include src="/pages/inc/avaliacao/itens_desempenho.xhtml" />

				<p:spacer />
				<p:separator />
				<p:spacer />

				<p:scrollPanel id="messagesPanel" scrollMode="native" styleClass="messagesPanel">
					<p:messages />
				</p:scrollPanel>

				<p:toolbar>
					<p:toolbarGroup align="left">
						<p:commandButton id="preencheMetasButton" icon="fa fa-fw fa-check" value="#{labels.botao_enviar} "
							actionListener="#{avaliacaoController.preencheMetas}" process="editGrid" update=":editForm :searchForm"
							rendered="#{avaliacaoController.entity.preenchimentoMetas}">
							<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmacao_preenchimento_metas}" icon="ui-icon-alert" />
						</p:commandButton>
						<p:commandButton id="revisaMetasButton" icon="fa fa-fw fa-check" value="#{labels.botao_enviar} "
							actionListener="#{avaliacaoController.revisaMetas}" process="editGrid" update=":editForm :searchForm"
							rendered="#{avaliacaoController.entity.revisaoMetas}">
							<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmacao_revisao_metas}" icon="ui-icon-alert" />
						</p:commandButton>
						<p:commandButton id="justificaMetasButton" icon="fa fa-fw fa-check" value="#{labels.botao_enviar} "
							actionListener="#{avaliacaoController.justificaMetas}" process="editGrid" update=":editForm :searchForm"
							rendered="#{avaliacaoController.entity.justificacaoMetas}">
							<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmacao_justificacao_metas}" icon="ui-icon-alert" />
						</p:commandButton>
						<p:commandButton id="respostaButton" icon="fa fa-fw fa-check" value="#{labels.botao_enviar} " actionListener="#{avaliacaoController.responde}"
							process="editGrid" update=":editForm :searchForm" rendered="#{avaliacaoController.entity.resposta}">
							<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmacao_resposta}" icon="ui-icon-alert" />
						</p:commandButton>
						<p:commandButton icon="fa fa-fw fa-close" value="#{labels.botao_fechar}" actionListener="#{avaliacaoController.close}" process="@this"
							update=":searchForm :editForm" style="margin-left: 10px;" />
					</p:toolbarGroup>
				</p:toolbar>

			</h:panelGrid>

			<p:defaultCommand target="preencheMetasButton" scope="editGrid" rendered="#{avaliacaoController.entity.preenchimentoMetas}" />
			<p:defaultCommand target="revisaMetasButton" scope="editGrid" rendered="#{avaliacaoController.entity.revisaoMetas}" />
			<p:defaultCommand target="justificaMetasButton" scope="editGrid" rendered="#{avaliacaoController.entity.justificacaoMetas}" />
			<p:defaultCommand target="respostaButton" scope="editGrid" rendered="#{avaliacaoController.entity.resposta}" />
		</h:form>
	</ui:define>
</ui:composition>
</html>