<ui:fragment xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:fieldset legend="#{labels.competencia}" rendered="#{avaliacaoController.entity.resposta or avaliacaoController.entity.finalizacao}">
		<p:repeat value="#{avaliacaoController.entity.itensCompetencia}" var="item">
			<h:panelGrid style="margin-bottom: 30px; font-weight: 700; font-size: 14px;">
				<h:outputText value="#{item.id.numeroItem} - #{avaliacaoController.getConteudoItemCompetencia(item.id.numeroItem)}" />

				<p:rating stars="5" value="#{item.nota}" cancel="false" required="true" style="margin-top: 10px;"
					requiredMessage="#{labels.obrigatoriedade_nota_item_competencia} #{item.id.numeroItem}"
					disabled="#{!avaliacaoController.entity.resposta or !avaliacaoController.isView('pessoas/avaliacao/processo.xhtml')}" />
			</h:panelGrid>
		</p:repeat>
	</p:fieldset>

</ui:fragment>