<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid columns="1" width="100%">
			<h2>#{labels.menu_usuario} / #{labels.menu_usuario_acesso} / #{labels.menu_usuario_acesso_alteracao_senha}</h2>
		</h:panelGrid>

		<h:form id="mainForm">
			<h:panelGrid columns="1" width="100%" styleClass="alignCenter">
				<p:outputLabel value="#{labels.senha_atual}" for="senhaAtual" styleClass="label" />
				<p:password id="senhaAtual" value="#{usuarioController.senhaAtual}" required="true" requiredMessage="#{labels.obrigatoriedade_senha_atual}" />

				<p:outputLabel value="#{labels.nova_senha}" for="novaSenha" styleClass="label" />
				<p:password id="novaSenha" value="#{usuarioController.novaSenha}" required="true" requiredMessage="#{labels.obrigatoriedade_nova_senha}"
					match="confirmarNovaSenha" validatorMessage="#{labels.confirmacao_senha_invalida}" />

				<p:outputLabel value="#{labels.confirmar_nova_senha}" for="confirmarNovaSenha" styleClass="label" />
				<p:password id="confirmarNovaSenha" value="#{usuarioController.novaSenha}" required="true"
					requiredMessage="#{labels.obrigatoriedade_confirmar_nova_senha}" validatorMessage="#{labels.validacao_senha_tamanho}">
					<f:validateLength minimum="4" />
				</p:password>

				<p:spacer />

				<p:commandButton value="#{labels.botao_confirmar}" icon="fa fa-fw fa-check" actionListener="#{usuarioController.alteraSenha}" process=":mainForm"
					update=":page" />

				<p:spacer />

				<p:scrollPanel id="messagesPanel" scrollMode="native" styleClass="messagesPanel">
					<p:messages />
				</p:scrollPanel>
			</h:panelGrid>

			<input type="password" style="display: none;" />
		</h:form>
	</ui:define>
</ui:composition>
</html>