<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<f:view contentType="text/html">
	<ui:insert name="head">
		<ui:include src="/pages/common/head.xhtml" />
	</ui:insert>
	<h:body style="background-color: #00457C !important;">
		<h:panelGroup id="page" layout="block" style="background-color: transparent !important;">

			<ui:insert name="header">
				<ui:include src="/pages/common/loading.xhtml" />
			</ui:insert>

			<h:panelGroup id="content" styleClass="noBorder">
				<div style="width: 350px; height: 360px; margin: 0 auto; margin-top: 7%; background-color: #fff; border-radius: 5px; overflow: auto;">
					<form action="j_spring_security_check" method="post">
						<div id="logo_login" style="width: 330px !important; height: 90px !important; text-align: center !important;">
							<p:graphicImage value="#{resource['primefaces-ttg:images/dorime.png']}" />
						</div>

						<div style="text-align: center; margin-top: 20px;">
							<span style="font-size: 20px; font-weight: 700;">#{labels.acesso_sistema}</span>
						</div>

						<div style="width: 250px; margin: 0 auto; margin-top: 20px;">
							<p:focus context="page" />
							<p:inputText id="j_username" style="width: 250px;" placeholder="#{labels.email}" autocomplete="off" />
							<p:password id="j_password" style="width:250px; margin-top: 10px;" placeholder="#{labels.senha}" autocomplete="off" />

							<button style="width: 260px; margin-top: 10px;" onclick="liberaRefresh(); PF('statusDialog').show(); preencheCookieLogin();">#{labels.botao_acessar}</button>
						</div>

						<h:panelGrid style="width: 100%; text-align: center; margin-top: 15px;">
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
							<p:spacer />
							<p:spacer />

							<c:if test="#{param['error'] eq 'true'}">
								<c:if test="#{!fn:contains(sessionScope['SPRING_SECURITY_LAST_EXCEPTION'].message,'Maximum sessions of 1 for this principal exceeded')}">
									<h:outputText value="#{sessionScope['SPRING_SECURITY_LAST_EXCEPTION'].message}" styleClass="erro-login" />
								</c:if>
							</c:if>
							<c:if test="#{param['expired'] eq 'true'}">
								<h:outputText value="#{messages.erro_sessao_expirada}" />
							</c:if>
							<p:messages styleClass="erro-login" />
						</h:panelGrid>

						<input type="password" style="display: none;" autocomplete="off" />
					</form>
				</div>
			</h:panelGroup>
		</h:panelGroup>
	</h:body>

	<script>
		document.getElementById('j_username').value = readCookie('last_username');

		function preencheCookieLogin() {
			createCookie('last_username',
					document.getElementById('j_username').value, 365);
		}
	</script>
</f:view>
</html>