body, html {
	width: 100%; height: 100%;
}

body {
	margin: 0; padding: 0; background-color: #F6F6F6; font-family: "Open Sans"; font-size: 12px; color: #00457C;
}

.noBorder, .noBorder td {
	border: 0px !important;
}

#header {
	width: 100%; border-bottom: 2px solid #00457C; background: #00457C; color: #f0f0f0; margin: 0 auto; height: 85px; text-align: center;
}

#logo_login, #logo_cabecalho {
	position: relative !important; width: 120px !important; top: 5px !important; background-color: #fff; -webkit-border-radius: 5px;
	-moz-border-radius: 5px; border-radius: 5px; z-index: 1 !important; left: 10px !important; float: left; padding: 5px;
}

#logo_login img {
	height: 80px !important;
}

#logo_cabecalho img {
	height: 60px !important;
}

#page {
	width: 100%; min-height: 97%; position: relative;
}

#login {
	text-align: center; background: #ffffff; min-height: 230px !important; width: 300px !important; position: relative !important;
}

button, .ui-button {
	background: none !important; background-color: #00457C !important; color: #fff !important; border: 0 !important; cursor: pointer;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-shadow: none !important; height: 31px;
}

button:hover, .ui-button:hover {
	background-color: #005ea6 !important;
}

#content {
	height: 100%; width: 99%; margin-left: 0.5%; font-size: 12px !important; margin-bottom: 50px;
}

#menu {
	font-family: "Open Sans"; font-size: 14px; border: 0px !important; background: #ffffff;
}

.usuarioMenu {
	font-family: "Open Sans" !important; font-size: 14px !important; font-weight: bolder !important;
}

#footer {
	background: #00457C; text-align: center; color: #f0f0f0; font-size: 16px; line-height: 40px;
}

.panel {
	border: 1px solid #d0d0d0; padding: 8px; margin: 8px 4px 16px 4px; background: #fafafa;
}

.panel h1 {
	font-size: 120%; display: block; background: #f0f0f0; padding: 6px; margin: -8px; border-bottom: 1px solid #d0d0d0; margin-bottom: 8px;
}

.errorMessage {
	color: #ff0000; font-weight: bold;
}

.label {
	font-size: 14px !important; font-weight: 700 !important; color: #00457C;
}

.bigLabel {
	font-size: 16px !important; font-weight: 700 !important; color: #00457C;
}

.alignRight {
	text-align: right;
}

.ui-fieldset {
	border: 2px solid #00457C !important;
}

.ui-separator {
	border: transparent !important; background: #00457C !important; height: 2px;
}

.alignCenter {
	text-align: center;
}

.alignLeft {
	text-align: left;
}

.gridMenu {
	border-bottom: 2px solid #00457C; background: #ffffff;
}

.ui-scrollpanel-content {
	width: 100% !important;
}

.messagesPanel {
	width: 100% !important; height: 60px;
}

.erro-login {
	font-size: 13px !important; font-weight: 700 !important; color: #F44646 !important;
}

.campo-dados {
	min-height: 50px !important;
}

.column-metade {
	width: 50% !important;
}

.requisicao-contrato-fora-prazo, .requisicao-contrato-fora-prazo-aviso {
	font-weight: bold !important; background-color: #fcf8e3 !important; color: #c09853 !important;
}

.requisicao-contrato-fora-prazo-aviso, .requisicao-contrato-data-menor-previsto-aviso, .requisicao-contrato-normal-aviso {
	text-transform: uppercase !important;
}

.requisicao-contrato-data-menor-previsto, .requisicao-contrato-data-menor-previsto-aviso {
	font-weight: bold !important; background-color: #f2dede !important; color: #b94a48 !important;
}

.requisicao-contrato-normal, .requisicao-contrato-normal-aviso {
	font-weight: bold !important; background-color: #fff !important;
}

.etapa-requisicao-contrato-fora-prazo {
	font-weight: bold !important; color: #b94a48 !important; background-color: #f2dede !important;
}

.etapa-requisicao-solicitacao-cancelamento {
	font-weight: bold !important; color: #b94a48 !important;
}

.lista-permissoes .ui-picklist-list {
	height: 650px !important;
}

.filtro-cabecalho {
	width: 100% !important;
}

.coluna-1-3 {
	width: 33.33% !important;
}

.botao-home {
	width: 110px !important; height: 110px !important; margin-right: 20px !important; font-size: 15px !important;
}

button {
	font-weight: 700 !important;
}

input {
	font-weight: 300 !important;
}

textarea {
	resize: none;
}

.ui-state-disabled {
	opacity: .80 !important; filter: Alpha(Opacity = 80) !important;
}

input[readonly], input[disabled], textarea[readonly], textarea[disabled] {
	opacity: .70 !important; filter: Alpha(Opacity = 70) !important;
}

input[readonly], input[disabled], textarea[readonly], textarea[disabled], div.ui-state-disabled, div.ui-state-disabled label {
	background-color: #F5F4F4 !important;
}

div.ui-rating {
	background: none !important;
}

.ui-inputfield.ui-state-focus[readonly] {
	border: 1px solid #5f666c;
}