<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">
		<h:form id="editForm">
			<p:spacer />
			<h:panelGrid width="100%" rendered="#{null == requisicaoContratoController.entity}" style="text-align: center;">
				<p:messages style="font-size: 13px;" />

				<p:spacer />

				<p:button icon="fa fa-fw fa-arrow-left" href="/" value="#{labels.voltar}" />
			</h:panelGrid>

			<h:panelGrid columns="1" width="100%" rendered="#{null != requisicaoContratoController.entity}">
				<h2>#{labels.numero_documento}: #{requisicaoContratoController.entity.numeroContrato}</h2>
			</h:panelGrid>

			<p:spacer />

			<p:fieldset legend="#{labels.documentos}">
				<p:dataGrid id="documentoGrid" style="width: 100%" value="#{requisicaoContratoController.documentos}" layout="grid" columns="4" var="entity"
					emptyMessage="#{labels.nenhum_resultado}" rowIndexVar="index">
					<p:panel header="#{entity.nomeApresentacao}" style="text-align:center" styleClass="documento-requisicao-contrato-panel">
						<h:panelGrid columns="1" style="width:100%; height: 60px;">
							<p:commandButton icon="ui-icon-arrowthickstop-1-s" value="#{labels.download}" process="@this" ajax="false" immediate="true"
								onclick="liberaDownload(); PrimeFaces.monitorDownload(showStatus, hideStatus)">
								<p:fileDownload value="#{requisicaoContratoController.getArquivoDocumento(entity)}" />
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</p:dataGrid>
			</p:fieldset>
		</h:form>
	</ui:define>
</ui:composition>
</html>