<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid columns="1" width="100%">
			<h2>#{labels.menu_contratos} / #{labels.menu_contratos_requisicao}</h2>
		</h:panelGrid>

		<h:form id="editForm">
			<h:panelGrid id="editGrid" width="100%">
				<h:panelGrid columns="1" style="width: 500px;" rendered="#{null == requisicaoContratoController.entity}">
					<h:panelGrid>
						<p:outputLabel value="#{labels.contrato}" styleClass="label" />
						<p:column>
							<p:commandButton icon="fa fa-fw fa-file" value="#{labels.solicitar_contrato}" process="@this" update=":editForm:editGrid"
								actionListener="#{requisicaoContratoController.geraNovo}" resetValues="true" />
							<p:button icon="fa fa-fw fa-search" value="#{labels.consultar_contratos_formalizados}" href="/pages/contratos/contrato_consulta.jsf"
								rendered="#{sec:isAllowed('/pages/contratos/contrato_consulta.jsf', '')}" resetValues="true" onclick="liberaRefresh();"
								style="margin-left: 10px;" />
						</p:column>
					</h:panelGrid>

					<p:spacer />

					<h:panelGrid>
						<p:outputLabel value="#{labels.aditivo}" styleClass="label" />
						<p:column>
							<p:inputText id="requisicaoOriginalAditivo" style="width: 190px;" maxlength="10" value="#{requisicaoContratoController.numeroContratoOriginal}"
								required="true" requiredMessage="#{labels.obrigatoriedade_numero_contrato_original}" placeholder="#{labels.numero_contrato_original}"
								onchange="removeEspaco(this);" />
							<p:commandButton icon="fa fa-fw fa-paste" value="#{labels.gerar_aditivo}" process="@this, requisicaoOriginalAditivo"
								update=":editForm:editGrid" actionListener="#{requisicaoContratoController.geraAditivo}" style="margin-left: 10px;" resetValues="true" />
						</p:column>
					</h:panelGrid>

					<p:spacer />

					<h:panelGrid>
						<p:outputLabel value="#{labels.distrato}" styleClass="label" />
						<p:column>
							<p:inputText id="requisicaoOriginalDistrato" style="width: 190px;" maxlength="10"
								value="#{requisicaoContratoController.numeroContratoOriginal}" required="true"
								requiredMessage="#{labels.obrigatoriedade_numero_contrato_original}" placeholder="#{labels.numero_contrato_original}"
								onchange="removeEspaco(this);" />
							<p:commandButton icon="fa fa-fw fa-times-circle" value="#{labels.gerar_distrato}" process="@this, requisicaoOriginalDistrato"
								update=":editForm:editGrid" actionListener="#{requisicaoContratoController.geraDistrato}" style="margin-left: 10px;" resetValues="true" />
						</p:column>
					</h:panelGrid>
				</h:panelGrid>

				<p:messages rendered="#{null == requisicaoContratoController.entity}" />

				<h:panelGrid width="100%" rendered="#{null != requisicaoContratoController.entity}">
					<ui:include src="/pages/inc/contratos/edicao.xhtml" />

					<p:spacer />
					<p:separator />
					<p:spacer />

					<p:scrollPanel id="messagesPanel" scrollMode="native" styleClass="messagesPanel">
						<p:messages />
					</p:scrollPanel>

					<p:toolbar>
						<p:toolbarGroup align="left">
							<p:commandButton id="submitButton" icon="fa fa-fw fa-save" value="#{labels.botao_gravar} "
								actionListener="#{requisicaoContratoController.save}" process="editGrid" update=":editForm"
								rendered="#{null != requisicaoContratoController.conteudoRequisicao}" />
							<p:commandButton icon="fa fa-fw fa-close" value="#{labels.botao_fechar}" actionListener="#{requisicaoContratoController.close}" process="@this"
								update=":editForm" style="margin-left: 10px;" />
						</p:toolbarGroup>
					</p:toolbar>
				</h:panelGrid>
			</h:panelGrid>

			<p:dialog id="coasDialog" widgetVar="coasDialog" modal="true" resizable="false" draggable="false" header="COAs" style="width: 100%;" position="top"
				closeOnEscape="true">
				<p:dataTable widgetVar="dtbCoas" id="dtbCoas" var="entity" emptyMessage="#{labels.nenhum_resultado}"
					value="#{requisicaoContratoController.codigosContabeis}" scrollable="true" scrollHeight="600">

					<p:column headerText="#{labels.coa_bgt_pha}" sortBy="#{entity.codigo}" style="text-align: center; width:150px;">
						<h:outputText value="#{entity.codigo}" />
					</p:column>

					<p:column headerText="#{labels.operacao}" sortBy="#{entity.descricaoOperacao}" style="text-align: center;">
						<h:outputText value="#{entity.descricaoOperacao}" />
					</p:column>

					<p:column headerText="#{labels.operacao_ingles}" sortBy="#{entity.descricaoOperacaoEn}" style="text-align: center;">
						<h:outputText value="#{entity.descricaoOperacaoEn}" />
					</p:column>

					<p:column headerText="#{labels.unidade_medida}" sortBy="#{entity.unidadeMedida}" style="text-align: center; width: 150px;">
						<h:outputText value="#{entity.unidadeMedida}" />
					</p:column>
				</p:dataTable>

			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>