<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid columns="1" width="100%">
			<h2>#{labels.menu_contratos} / #{labels.menu_contratos_vendas_madeira}</h2>
		</h:panelGrid>

		<h:form id="searchForm">
			<h:panelGrid id="searchGrid" width="100%" rendered="#{null == vendaMadeiraController.entity}">

				<h:panelGrid columns="1" id="filterGrid">

					<h:panelGrid columns="4">

						<h:panelGrid columns="1" style="width: 100%;">
							<p:outputLabel for="nomeFilter" value="#{labels.fundo}" styleClass="label" />
							<p:inputText id="nomeFilter" style="width: 300px;" value="#{vendaMadeiraController.filterEntity.nomeFundo}" maxlength="100" />
						</h:panelGrid>

						<h:panelGrid columns="1" style="margin-left: 86px">
							<p:outputLabel for="parceiroFilter" value="#{labels.parceiro}" styleClass="label" />
							<p:inputText id="parceiroFilter" style="width: 300px;" value="#{vendaMadeiraController.filterEntity.nomeParceiro}" maxlength="100" />
						</h:panelGrid>

						<h:panelGrid columns="1" style="margin-left: 86px">
							<p:outputLabel for="numeroContratoFilter" value="#{labels.contrato}" styleClass="label" />
							<p:inputText id="numeroContratoFilter" value="#{vendaMadeiraController.filterEntity.numeroContrato}" style="width: 300px" />
						</h:panelGrid>

						<h:panelGrid columns="1" style="margin-left: 86px">
							<p:outputLabel for="minhasSolicitacoesFilter" value="#{labels.minhas_solicitacoes}" styleClass="label" />
							<p:selectBooleanCheckbox id="minhasSolicitacoesFilter" value="#{vendaMadeiraController.minhasSolicitacoes}" />
						</h:panelGrid>
					</h:panelGrid>

					<h:panelGrid columns="3">
						<h:panelGrid columns="1">
							<p:outputLabel for="dataSolicitacaoDeFilter" value="#{labels.data_solicitacao_de}" styleClass="label" />
							<p:calendar id="dataSolicitacaoDeFilter" value="#{vendaMadeiraController.filterEntity.dataCriacaoDe}" pattern="dd/MM/yyyy" locale="br"
								navigator="true" showOn="button" size="37" mask="99/99/9999" converter="dateConverter"
								converterMessage="#{labels.data_solicitacao_de_invalida}" />
						</h:panelGrid>
						<h:panelGrid columns="1" style="margin-left: 90px">
							<p:outputLabel for="dataSolicitacaoAteFilter" value="#{labels.data_solicitacao_ate}" styleClass="label" />
							<p:calendar id="dataSolicitacaoAteFilter" value="#{vendaMadeiraController.filterEntity.dataCriacaoAte}" pattern="dd/MM/yyyy" locale="br"
								navigator="true" showOn="button" size="37" mask="99/99/9999" converter="dateConverter"
								converterMessage="#{labels.data_solicitacao_ate_invalida}" />
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>

				<h:panelGrid columns="1" width="100%" style="text-align: center;">
					<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update="dtbEntities searchMessages"
						actionListener="#{vendaMadeiraController.search}" process="@this, filterGrid" />
				</h:panelGrid>

				<p:spacer height="10px" />
				<p:separator />
				<p:spacer height="10px" />
				<p:messages id="searchMessages" />

				<p:dataTable widgetVar="dtb" id="dtbEntities" var="entity" emptyMessage="#{labels.nenhum_resultado}" value="#{vendaMadeiraController.entities}"
					paginator="true" paginatorPosition="bottom" rows="30" currentPageReportTemplate="{currentPage} #{labels.de} {totalPages}"
					paginatorAlwaysVisible="false"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
					style="font-size: 11px !important;">

					<p:column headerText="#{labels.contrato}" sortBy="#{entity.numeroContrato}" style="text-align: center; width: 70px;">
						<h:outputText value="#{entity.numeroContrato}" />
					</p:column>

					<p:column headerText="#{labels.solicitante}" sortBy="#{entity.nomeUsuarioCriacao}" style="text-align: center; width: 150px;">
						<h:outputText value="#{entity.nomeUsuarioCriacao}" />
					</p:column>

					<p:column headerText="#{labels.tipo_contrato}" sortBy="#{entity.nomeTipoContrato}" style="text-align: center; width: 150px;">
						<h:outputText value="#{entity.nomeTipoContrato}" />
					</p:column>

					<p:column headerText="#{labels.fundo}" sortBy="#{entity.nomeFundo}" style="text-align: center;">
						<h:outputText value="#{entity.nomeFundo}" />
					</p:column>

					<p:column headerText="#{labels.parceiro}" sortBy="#{entity.nomeParceiro}" style="text-align: center;">
						<h:outputText value="#{entity.nomeParceiro}" />
					</p:column>

					<p:column headerText="#{labels.descricao}" sortBy="#{entity.descricao}" style="text-align: center;">
						<h:outputText value="#{entity.descricao}" />
					</p:column>

					<p:column style="width:40px; text-align: center;" exportable="false">
						<f:facet name="header">#{labels.acoes}</f:facet>
						<p:commandButton icon="fa fa-fw fa-pencil" title="#{labels.botao_editar}" update=":searchForm :editForm" process="@this" resetValues="true">
							<f:setPropertyActionListener value="#{entity}" target="#{vendaMadeiraController.selectedEntity}" />
						</p:commandButton>
					</p:column>

					<f:facet name="footer">
						<h:outputFormat value="#{fn:length(vendaMadeiraController.entities)} #{labels.registros_encontrados}" />
						<br />
						<p:commandLink title="#{labels.excel}" ajax="false" value="Relatório por contrato" disabled="#{fn:length(vendaMadeiraController.entities) lt 1}"
							onclick="liberaDownload(); PrimeFaces.monitorDownload(showStatus, hideStatus);">
							<p:graphicImage value="#{resource['primefaces-ttg:images/excel.png']}" />
							<p:fileDownload value="#{vendaMadeiraController.relatorioExcel}" />
						</p:commandLink>
						<br />
						<p:commandLink title="#{labels.excel}" ajax="false" value="Relatório por etapa" disabled="#{fn:length(vendaMadeiraController.entities) lt 1}"
							onclick="liberaDownload(); PrimeFaces.monitorDownload(showStatus, hideStatus);">
							<p:graphicImage value="#{resource['primefaces-ttg:images/excel.png']}" />
							<p:fileDownload value="#{vendaMadeiraController.relatorioExcelEtapa}" />
						</p:commandLink>
					</f:facet>

				</p:dataTable>

			</h:panelGrid>

			<p:defaultCommand target="searchButton" />
		</h:form>

		<h:form id="editForm">
			<h:panelGrid id="editGrid" width="100%" rendered="#{null != vendaMadeiraController.entity}">

				<ui:include src="/pages/inc/contratos/edicao_madeira.xhtml" />

				<p:spacer rendered="#{fn:length(vendaMadeiraController.documentos) > 0}" />

				<ui:include src="/pages/inc/contratos/documentos_madeira.xhtml" />

				<p:spacer />
				<p:separator />
				<p:spacer />

				<p:scrollPanel id="messagesPanel" scrollMode="native" styleClass="messagesPanel">
					<p:messages />
				</p:scrollPanel>

				<p:toolbar>
					<p:toolbarGroup align="left">
						<p:commandButton icon="fa fa-fw fa-sitemap" value="#{labels.etapas}" process="@this" update=":editForm:dtbEtapas"
							onclick="PF('etapasDialog').show();" style="margin-right: 10px;" />
						<p:commandButton icon="fa fa-fw fa-close" value="#{labels.botao_fechar}" actionListener="#{vendaMadeiraController.close}" process="@this"
							update=":searchForm :editForm" />
					</p:toolbarGroup>
				</p:toolbar>

			</h:panelGrid>

			<ui:include src="/pages/inc/contratos/dialog_etapas_madeira.xhtml" />

		</h:form>
	</ui:define>
</ui:composition>
</html>