<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/crud_template.xhtml">

	<ui:define name="breadCrumb">
		<h2>#{labels.menu_administracao} / #{labels.menu_administracao_acesso} / #{labels.menu_administracao_acesso_usuario} /
			#{labels.menu_administracao_acesso_usuario_sistema}</h2>
	</ui:define>

	<ui:define name="searchGrid">
		<h:panelGrid id="searchGrid" width="100%" rendered="#{null == usuarioController.entity}">

			<h:panelGrid columns="4" width="100%" columnClasses=",,,alignRight" id="filterGrid">
				<p:outputLabel for="nomeFilter" value="#{labels.nome}" styleClass="label" />
				<p:outputLabel for="perfilFilter" value="#{labels.perfil}" styleClass="label" />
				<p:outputLabel for="statusFilter" value="#{labels.status}" styleClass="label" />
				<p:spacer />

				<p:inputText id="nomeFilter" style="width: 350px;" value="#{usuarioController.filterEntity.nome}" maxlength="50" />
				<p:selectOneMenu id="perfilFilter" value="#{usuarioController.filterEntity.idPerfil}" style="width:200px;">
					<f:selectItem itemLabel="" itemValue="" />
					<f:selectItems value="#{usuarioController.perfis}" var="item" itemLabel="#{item.nome}" itemValue="#{item.id}" />
				</p:selectOneMenu>
				<p:selectOneMenu id="statusFilter" value="#{usuarioController.filterEntity.status}" style="width:200px;">
					<f:selectItem itemLabel="" itemValue="" />
					<f:selectItems value="#{domAcessoController.statusUsuarioMap}" />
				</p:selectOneMenu>
				<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update="dtbEntities searchMessages"
					actionListener="#{usuarioController.search}" process="@this, filterGrid" oncomplete="PF('dtb').getPaginator().setPage(0);" />
			</h:panelGrid>

			<p:spacer height="10px" />
			<p:separator />
			<p:spacer height="10px" />
			<p:messages id="searchMessages" />

			<p:dataTable widgetVar="dtb" id="dtbEntities" var="entity" emptyMessage="#{labels.nenhum_resultado}" value="#{usuarioController.entities}"
				paginator="true" paginatorPosition="bottom" rows="15" currentPageReportTemplate="{currentPage} #{labels.de} {totalPages}"
				paginatorAlwaysVisible="false"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<p:column headerText="#{labels.email}" sortBy="#{entity.email}" style="width: 400px; text-align: center;">
					<h:outputText value="#{entity.email}" />
				</p:column>

				<p:column headerText="#{labels.nome}" sortBy="#{entity.nome}" style="text-align: center;">
					<h:outputText value="#{entity.nome}" />
				</p:column>

				<p:column headerText="#{labels.status}" sortBy="#{entity.deStatus}" style="width: 100px; text-align: center;">
					<h:outputText value="#{entity.deStatus}" />
				</p:column>

				<p:column style="width:40px; text-align: center;" exportable="false">
					<f:facet name="header">#{labels.acoes}</f:facet>
					<p:commandButton icon="fa fa-fw fa-pencil" title="#{labels.botao_editar}" update=":searchForm :editForm" process="@this" resetValues="true">
						<f:setPropertyActionListener value="#{entity}" target="#{usuarioController.selectedEntity}" />
					</p:commandButton>
				</p:column>

				<f:facet name="header">
					<p:commandButton value="#{labels.botao_adicionar} " icon="fa fa-fw fa-plus" actionListener="#{usuarioController.add}"
						update=":searchForm :editForm" process="@this" resetValues="true" />
				</f:facet>

				<f:facet name="footer">
					<h:outputFormat value="#{fn:length(usuarioController.entities)} #{labels.registros_encontrados}" />

					<p:commandLink title="#{labels.excel}" ajax="false" disabled="#{fn:length(usuarioController.entities) lt 1}"
						onclick="liberaDownload(); PrimeFaces.monitorDownload(showStatus, hideStatus);">
						<p:graphicImage value="#{resource['primefaces-ttg:images/excel.png']}" />
						<p:fileDownload value="#{usuarioController.relatorioExcel}" />
					</p:commandLink>
				</f:facet>
			</p:dataTable>

		</h:panelGrid>
	</ui:define>

	<ui:define name="editGrid">
		<h:panelGrid id="editGrid" width="100%" rendered="#{null != usuarioController.entity}">

			<p:fieldset legend="#{labels.informacoes}">
				<h:panelGrid columns="1">
					<p:outputLabel for="email" value="#{labels.email}" styleClass="label" />
					<p:inputText id="email" style="width: 350px;" required="true" requiredMessage="#{labels.obrigatoriedade_email}"
						value="#{usuarioController.entity.email}" maxlength="50" disabled="#{usuarioController.editing}" validator="checkvalidemail"
						validatorMessage="#{labels.email_invalido}" onchange="formataEmail(this);" />

					<p:outputLabel for="nome" value="#{labels.nome}" styleClass="label" />
					<p:inputText id="nome" style="width: 350px;" required="true" requiredMessage="#{labels.obrigatoriedade_nome}"
						value="#{usuarioController.entity.nome}" maxlength="50" />

					<p:outputLabel for="perfil" value="#{labels.perfil}" styleClass="label" />
					<p:selectOneMenu id="perfil" value="#{usuarioController.entity.idPerfil}" style="width:360px;" required="true"
						requiredMessage="#{labels.obrigatoriedade_perfil}">
						<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
						<f:selectItems value="#{usuarioController.perfis}" var="item" itemLabel="#{item.nome}" itemValue="#{item.id}" />
					</p:selectOneMenu>

					<p:outputLabel for="status" value="#{labels.status}" styleClass="label" />
					<p:selectOneMenu id="status" value="#{usuarioController.entity.status}" style="width:100px;" required="true"
						requiredMessage="#{labels.obrigatoriedade_status}">
						<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
						<f:selectItems value="#{domAcessoController.statusUsuarioMap}" />
					</p:selectOneMenu>
				</h:panelGrid>
			</p:fieldset>

			<p:spacer />
			<p:separator />
			<p:spacer />

			<p:scrollPanel id="messagesPanel" scrollMode="native" styleClass="messagesPanel">
				<p:messages />
			</p:scrollPanel>

			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton id="submitButton" icon="fa fa-fw fa-save" value="#{labels.botao_gravar} " actionListener="#{usuarioController.save}"
						process="editGrid" update=":editForm :searchForm" />
					<p:commandButton icon="fa fa-fw fa-key" value="#{labels.botao_reiniciar_senha} " actionListener="#{usuarioController.reiniciaSenha}"
						process="@this" update=":editForm" rendered="#{usuarioController.editing}">
						<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmacao_senha_inicial}" icon="ui-icon-alert" />
					</p:commandButton>
					<p:commandButton icon="fa fa-fw fa-close" value="#{labels.botao_fechar}" actionListener="#{usuarioController.close}" process="@this"
						update=":searchForm :editForm" />
				</p:toolbarGroup>
			</p:toolbar>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>