<ui:fragment xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:fieldset legend="#{labels.informacoes}">
		<h:panelGrid columns="1">
			<h:panelGrid style="width: 100%" id="documentoGrid">
				<p:outputLabel for="tipo" value="#{labels.tipo}" styleClass="label" rendered="#{parceiroController.viewClienteFornecedor}" />
				<p:selectOneMenu id="tipo" value="#{parceiroController.entity.tipo}" style="width:200px;" rendered="#{parceiroController.viewClienteFornecedor}"
					required="true" disabled="#{!parceiroController.tipoAlteravel}">
					<f:selectItems value="#{parceiroController.tipos}" />
				</p:selectOneMenu>

				<h:panelGrid columns="2" style="width: 300px;">
					<p:outputLabel for="documento" value="#{labels.cpf_cnpj_documento}" styleClass="label" />
					<p:outputLabel for="estrangeiro" value="#{labels.estrangeiro}" styleClass="label" />

					<p:inputText id="documento" style="width: 140px;" maxlength="14" value="#{parceiroController.entity.documento}" required="true"
						requiredMessage="#{labels.obrigatoriedade_cpf_cnpj_documento}" disabled="#{parceiroController.editing}" onkeypress="mascara(this, inteiro);"
						onchange="mascara(this, inteiro);" onkeyup="mascara(this, inteiro);">
						<p:ajax process=":editForm:documentoGrid" update="@this" listener="#{parceiroController.changeDocumento}" />
					</p:inputText>
					<p:selectBooleanCheckbox id="estrangeiro" value="#{parceiroController.entity.estrangeiro}" disabled="#{parceiroController.editing}">
						<p:ajax process="@this" update=":editForm" />
					</p:selectBooleanCheckbox>
				</h:panelGrid>
			</h:panelGrid>

			<p:outputLabel for="nome" value="#{labels.nome}" styleClass="label" />
			<p:inputText id="nome" style="width: 700px;" required="true" requiredMessage="#{labels.obrigatoriedade_nome}"
				value="#{parceiroController.entity.nome}" maxlength="100" onchange="toUpperCase(this);" />

			<p:outputLabel for="inscricaoEstadual" value="#{labels.inscricao_estadual}" styleClass="label" />
			<p:inputText id="inscricaoEstadual" style="width: 200px;" value="#{parceiroController.entity.inscricaoEstadual}" maxlength="20" />

			<p:outputLabel for="email" value="#{labels.email}" styleClass="label" />
			<p:inputText id="email" style="width: 500px;" value="#{parceiroController.entity.email}" maxlength="50" validatorMessage="#{labels.email_invalido}"
				validator="checkvalidemail" onchange="formataEmail(this);" />

			<p:outputLabel for="telefone" value="#{labels.telefone}" styleClass="label" />
			<p:inputMask id="telefone" style="width: 120px" mask="(99) 99999?-9999" value="#{parceiroController.entity.telefone}" converter="maskConverter"
				required="#{!parceiroController.entity.estrangeiro}" requiredMessage="#{labels.obrigatoriedade_telefone}" />

			<p:outputLabel for="tipoAtividade" value="#{labels.tipo_atividade}" styleClass="label" />
			<p:inputTextarea id="tipoAtividade" rows="3" autoResize="false" style="width: 700px;" value="#{parceiroController.entity.descricaoTipoAtividade}"
				maxlength="300" required="true" requiredMessage="#{labels.obrigatoriedade_tipo_atividade}" onchange="toUpperCase(this);" />

			<p:outputLabel for="consultaSerasa" value="#{labels.consulta_serasa}" styleClass="label" />
			<p:inputTextarea id="consultaSerasa" rows="3" autoResize="false" style="width: 700px;" value="#{parceiroController.entity.descricaoConsultaSerasa}"
				maxlength="300" onchange="toUpperCase(this);" />

			<p:outputLabel for="documentosNecessarios" value="#{labels.documentos_necessarios}" styleClass="label" />
			<p:inputTextarea id="documentosNecessarios" rows="3" autoResize="false" style="width: 700px;"
				value="#{parceiroController.entity.descricaoDocumentosNecessarios}" maxlength="300" onchange="toUpperCase(this);" />

			<p:outputLabel value="#{labels.status}" styleClass="label" rendered="#{parceiroController.editing}" />
			<p:outputLabel value="#{parceiroController.entity.deStatus}" rendered="#{parceiroController.editing}" />
		</h:panelGrid>
	</p:fieldset>

	<p:spacer />

	<p:fieldset legend="#{labels.endereco}">
		<h:panelGrid style="width: 100%;" id="enderecoGrid">
			<h:panelGrid columns="3" style="width: 800px;">
				<p:outputLabel for="cep" value="#{labels.cep}" styleClass="label" />
				<p:outputLabel for="estado" value="#{labels.uf}" styleClass="label" />
				<p:outputLabel for="cidade" value="#{labels.cidade}" styleClass="label" />

				<p:inputMask id="cep" style="width: 90px" mask="99.999-999" value="#{parceiroController.entity.endereco.cep}" converter="maskConverter"
					validatorMessage="#{labels.cep_invalido}" required="#{!parceiroController.entity.estrangeiro}" requiredMessage="#{labels.obrigatoriedade_cep}">
					<f:validator validatorId="checkvalidcep" />
					<p:ajax process="@this" listener="#{parceiroController.changeCEP}" update="enderecoGrid" resetValues="true" />
				</p:inputMask>
				<p:selectOneMenu id="estado" value="#{parceiroController.entity.endereco.siglaEstado}" style="width: 100px;" filter="true"
					filterMatchMode="contains" required="#{!parceiroController.entity.estrangeiro}" requiredMessage="#{labels.obrigatoriedade_estado}">
					<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
					<f:selectItems value="#{parceiroController.estados}" var="item" itemLabel="#{item.sigla}" itemValue="#{item.sigla}" />
				</p:selectOneMenu>
				<p:inputText id="cidade" value="#{parceiroController.entity.endereco.nomeCidade}" maxlength="50" style="width: 500px;"
					required="#{!parceiroController.entity.estrangeiro}" requiredMessage="#{labels.obrigatoriedade_cidade}" onchange="toUpperCase(this);" />
			</h:panelGrid>

			<p:outputLabel for="bairro" value="#{labels.bairro}" styleClass="label" />
			<p:inputText id="bairro" value="#{parceiroController.entity.endereco.nomeBairro}" maxlength="50" style="width: 500px;"
				required="#{!parceiroController.entity.estrangeiro}" requiredMessage="#{labels.obrigatoriedade_bairro}" onchange="toUpperCase(this);" />

			<h:panelGrid columns="2" style="width: 850px;">
				<p:outputLabel for="logradouro" value="#{labels.logradouro}" styleClass="label" />
				<p:outputLabel for="numeroLogradouro" value="#{labels.numero}" styleClass="label" />

				<p:inputText id="logradouro" value="#{parceiroController.entity.endereco.logradouro}" maxlength="100" style="width: 700px;"
					required="#{!parceiroController.entity.estrangeiro}" requiredMessage="#{labels.obrigatoriedade_logradouro}" onchange="toUpperCase(this);" />
				<p:inputText id="numeroLogradouro" value="#{parceiroController.entity.endereco.numero}" maxlength="9" style="width: 80px;"
					required="#{!parceiroController.entity.estrangeiro}" requiredMessage="#{labels.obrigatoriedade_numero}" onchange="toUpperCase(this);" />
			</h:panelGrid>

			<p:outputLabel for="complemento" value="#{labels.complemento}" styleClass="label" />
			<p:inputText id="complemento" value="#{parceiroController.entity.endereco.complemento}" maxlength="100" style="width: 700px;"
				onchange="toUpperCase(this);" />
		</h:panelGrid>
	</p:fieldset>

	<p:spacer />

	<p:fieldset legend="#{labels.conta_bancaria}">
		<h:panelGrid style="width: 100%;" id="contaBancariaGrid">
			<h:panelGrid columns="3" style="width: 700px;">
				<p:outputLabel for="codigoBancoContaBancaria" value="#{labels.banco}" styleClass="label" />
				<p:outputLabel for="numeroAgenciaBancaria" value="#{labels.agencia}" styleClass="label" />
				<p:outputLabel for="numeroContaBancaria" value="#{labels.conta}" styleClass="label" />

				<p:selectOneMenu id="codigoBancoContaBancaria" value="#{parceiroController.entity.contaBancaria.codigoBanco}" style="width: 400px;" filter="true"
					filterMatchMode="contains" required="true" requiredMessage="#{labels.obrigatoriedade_banco}">
					<f:selectItem itemLabel="#{labels.selecione}" itemValue="" />
					<f:selectItems value="#{parceiroController.bancos}" var="item" itemLabel="#{item.codigo} - #{item.nome}" itemValue="#{item.codigo}" />
				</p:selectOneMenu>
				<p:inputText id="numeroAgenciaBancaria" value="#{parceiroController.entity.contaBancaria.numeroAgencia}" maxlength="7" style="width: 70px;"
					required="true" requiredMessage="#{labels.obrigatoriedade_agencia}" onchange="toUpperCase(this);" />
				<p:inputText id="numeroContaBancaria" value="#{parceiroController.entity.contaBancaria.numeroConta}" maxlength="10" style="width: 100px;"
					required="true" requiredMessage="#{labels.obrigatoriedade_conta}" onchange="toUpperCase(this);" />
			</h:panelGrid>
		</h:panelGrid>
	</p:fieldset>

	<p:spacer rendered="#{parceiroController.editing and parceiroController.amlNecessaria}" />

	<p:fieldset legend="#{labels.aml}" rendered="#{parceiroController.editing and parceiroController.amlNecessaria}">
		<h:panelGrid style="width: 100%;" id="amlGrid">
			<h:panelGrid columns="3" style="width: 1050px;">
				<p:outputLabel for="dataSolicitacaoAml" value="#{labels.data_solicitacao}" styleClass="label" />
				<p:outputLabel for="resultadoAml" value="#{labels.resultado}" styleClass="label" />
				<p:outputLabel for="dataValidadeAml" value="#{labels.data_validade}" styleClass="label" />

				<p:calendar id="dataSolicitacaoAml" value="#{parceiroController.entity.aml.dataSolicitacao}" pattern="dd/MM/yyyy" locale="br" navigator="true"
					showOn="button" size="10" mask="99/99/9999" converter="dateConverter" converterMessage="#{labels.data_aml_invalida}" />
				<p:inputText id="resultadoAml" value="#{parceiroController.entity.aml.resultado}" maxlength="100" style="width: 700px;"
					onchange="toUpperCase(this);" />
				<p:calendar id="dataValidadeAml" value="#{parceiroController.entity.aml.dataValidade}" pattern="dd/MM/yyyy" locale="br" navigator="true"
					showOn="button" size="10" mask="99/99/9999" converter="dateConverter" converterMessage="#{labels.data_aml_validade_invalida}" />
			</h:panelGrid>
		</h:panelGrid>
	</p:fieldset>

	<p:spacer />

	<p:fieldset legend="#{labels.socios}">
		<h:panelGrid style="width: 100%;" id="sociosGrid">
			<p:repeat var="socio" value="#{parceiroController.entity.socios}" varStatus="status">
				<p:outputLabel value="#{labels.socio} #{(status.index + 1)}" styleClass="label" style="font-size: 16px !important;" />
				<h:panelGrid columns="3" style="width: 900px;">
					<p:outputLabel value="#{labels.cpf_cnpj_documento}" styleClass="label" />
					<p:outputLabel value="#{labels.nome}" styleClass="label" />
					<p:outputLabel value="#{labels.data_nascimento}" styleClass="label" />

					<p:inputText style="width: 140px;" maxlength="14" value="#{socio.documento}" validatorMessage="#{labels.validacao_documento_tamanho}"
						required="#{status.index eq 0 and !parceiroController.entity.fundo}" requiredMessage="#{labels.obrigatoriedade_cpf_cnpj_documento}"
						onkeypress="mascara(this, inteiro);" onchange="mascara(this, inteiro);" onkeyup="mascara(this, inteiro);" />
					<p:inputText style="width: 500px;" required="#{status.index eq 0  and !parceiroController.entity.fundo}"
						requiredMessage="#{labels.obrigatoriedade_nome}" value="#{socio.nome}" maxlength="100" onchange="toUpperCase(this);" />
					<p:calendar value="#{socio.dataNascimento}" pattern="dd/MM/yyyy" locale="br" navigator="true" showOn="button" size="10" mask="99/99/9999"
						converter="dateConverter" converterMessage="#{labels.data_nascimento_invalida}" />
				</h:panelGrid>
			</p:repeat>
		</h:panelGrid>
	</p:fieldset>

	<p:spacer />

	<p:fieldset legend="#{labels.observacao}">
		<h:panelGrid style="width: 100%;" id="observacaoGrid">
			<p:inputTextarea id="observacao" rows="5" autoResize="false" style="width: 700px;" value="#{parceiroController.entity.observacao}" maxlength="500"
				onchange="toUpperCase(this);" />
		</h:panelGrid>
	</p:fieldset>

</ui:fragment>