<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/crud_template.xhtml">

	<ui:define name="breadCrumb">
		<h2>#{labels.menu_administracao} / #{labels.menu_administracao_cadastro} / #{labels.menu_administracao_cadastro_parceiro} /
			#{labels.menu_administracao_cadastro_parceiro_cliente_fornecedor}</h2>
	</ui:define>

	<ui:define name="searchGrid">
		<h:panelGrid id="searchGrid" width="100%" rendered="#{null == parceiroController.entity}">

			<ui:include src="inc/consulta.xhtml" />

		</h:panelGrid>

	</ui:define>

	<ui:define name="editGrid">
		<h:panelGrid id="editGrid" width="100%" rendered="#{null != parceiroController.entity}">

			<ui:include src="inc/edicao.xhtml" />

			<p:spacer />
			<p:separator />
			<p:spacer />

			<p:scrollPanel id="messagesPanel" scrollMode="native" styleClass="messagesPanel">
				<p:messages />
			</p:scrollPanel>

			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton id="submitButton" icon="fa fa-fw fa-save" value="#{labels.botao_gravar}" actionListener="#{parceiroController.save}"
						process="editGrid" update=":editForm :searchForm" />
					<p:commandButton icon="fa fa-fw fa-check" value="#{labels.botao_ativar} " actionListener="#{parceiroController.ativa}" process=":editForm"
						update=":editForm" rendered="#{parceiroController.ativavel}">
						<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmacao_ativacao_parceiro}" icon="ui-icon-alert" />
					</p:commandButton>
					<p:commandButton icon="fa fa-fw fa-exclamation" value="#{labels.botao_inativar} " actionListener="#{parceiroController.inativa}" process=":editForm"
						update=":editForm" rendered="#{parceiroController.inativavel}">
						<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmacao_inativacao_parceiro}" icon="ui-icon-alert" />
					</p:commandButton>
					<p:commandButton icon="fa fa-fw fa-close" value="#{labels.botao_fechar}" actionListener="#{parceiroController.close}" process="@this"
						update=":searchForm :editForm" />
				</p:toolbarGroup>
			</p:toolbar>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>