<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid width="100%">
			<h:panelGrid columns="1" width="100%">
				<h2>#{labels.menu_pessoas} / #{labels.menu_pessoas_contatos}</h2>
			</h:panelGrid>

			<h:form>
				<h:panelGrid id="searchGrid" width="100%" rendered="#{null == usuarioController.entity}">

					<h:panelGrid columns="2" width="100%" columnClasses=",alignRight" id="filterGrid">
						<p:outputLabel for="nomeFilter" value="#{labels.nome}" styleClass="label" />
						<p:spacer />

						<p:inputText id="nomeFilter" style="width: 350px;" value="#{usuarioController.filterEntity.nome}" maxlength="50" />
						<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update="dtbEntities searchMessages"
							actionListener="#{usuarioController.search}" process="@this, filterGrid" oncomplete="PF('dtb').getPaginator().setPage(0);" />
					</h:panelGrid>

					<p:spacer height="10px" />
					<p:separator />
					<p:spacer height="10px" />
					<p:messages id="searchMessages" />

					<p:dataTable widgetVar="dtb" id="dtbEntities" var="entity" emptyMessage="#{labels.nenhum_resultado}" value="#{usuarioController.entities}"
						paginator="true" paginatorPosition="bottom" rows="15" currentPageReportTemplate="{currentPage} #{labels.de} {totalPages}"
						paginatorAlwaysVisible="false"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

						<p:column headerText="#{labels.codigo}" sortBy="#{entity.codigo}" style="width: 100px; text-align: center;">
							<h:outputText value="#{entity.codigo}" />
						</p:column>

						<p:column headerText="#{labels.nome}" sortBy="#{entity.nome}" style="text-align: center;">
							<h:outputText value="#{entity.nome}" />
						</p:column>

						<p:column headerText="#{labels.email}" sortBy="#{entity.email}" style="width: 400px; text-align: center;">
							<h:outputText value="#{entity.email}" />
						</p:column>

						<p:column headerText="#{labels.telefone}" sortBy="#{entity.telefone}" style="width: 120px; text-align: center;">
							<h:outputText value="#{entity.formattedTelefone}" />
						</p:column>

						<p:column headerText="#{labels.ramal}" sortBy="#{entity.ramal}" style="width: 80px; text-align: center;">
							<h:outputText value="#{entity.ramal}" />
						</p:column>

						<p:column headerText="#{labels.celular}" sortBy="#{entity.celular}" style="width: 120px; text-align: center;">
							<h:outputText value="#{entity.formattedCelular}" />
						</p:column>

						<f:facet name="footer">
							<p:commandLink title="#{labels.excel}" ajax="false" disabled="#{fn:length(usuarioController.entities) lt 1}">
								<p:graphicImage value="#{resource['primefaces-ttg:images/excel.png']}" />
								<p:dataExporter type="xls" target="dtbEntities" fileName="contatos" />
							</p:commandLink>
						</f:facet>
					</p:dataTable>

				</h:panelGrid>

			</h:form>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>