<ui:fragment xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:dataTable widgetVar="dtb" id="dtbEntities" var="entity" emptyMessage="#{labels.nenhum_resultado}" value="#{avaliacaoController.entities}"
		paginator="true" paginatorPosition="bottom" rows="30" currentPageReportTemplate="{currentPage} #{labels.de} {totalPages}" paginatorAlwaysVisible="false"
		paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

		<p:column headerText="#{labels.colaborador}" sortBy="#{entity.nomeColaborador}" style="text-align: center;">
			<h:outputText value="#{entity.nomeColaborador}" />
		</p:column>

		<p:column headerText="#{labels.avaliador}" sortBy="#{entity.nomeAvaliador}" style="text-align: center;"
			rendered="#{avaliacaoController.isView('pessoas/avaliacao/consulta.xhtml')}">
			<h:outputText value="#{entity.nomeAvaliador}" />
		</p:column>

		<p:column headerText="#{labels.competencia}" sortBy="#{entity.resultadoCompetencia}" style="width: 200px; text-align: center;"
			rendered="#{avaliacaoController.isView('pessoas/avaliacao/consulta.xhtml')}">
			<h:outputText value="#{entity.resultadoCompetencia}" />
		</p:column>

		<p:column headerText="#{labels.desempenho}" sortBy="#{entity.resultadoDesempenho}" style="width: 200px; text-align: center;"
			rendered="#{avaliacaoController.isView('pessoas/avaliacao/consulta.xhtml')}">
			<h:outputText value="#{entity.resultadoDesempenho}" />
		</p:column>

		<p:column headerText="#{labels.tipo}" sortBy="#{entity.deTipo}" style="width: 200px; text-align: center;">
			<h:outputText value="#{entity.deTipo}" />
		</p:column>

		<p:column headerText="#{labels.etapa}" sortBy="#{entity.deCodigoEtapa}" style="width: 250px; text-align: center;">
			<h:outputText value="#{entity.deCodigoEtapa}" />
		</p:column>

		<p:column style="width:40px; text-align: center;" exportable="false">
			<f:facet name="header">#{labels.acoes}</f:facet>
			<p:commandButton icon="fa fa-fw fa-pencil" title="#{labels.botao_preencher}" update=":searchForm :editForm" process="@this" resetValues="true">
				<f:setPropertyActionListener value="#{entity}" target="#{avaliacaoController.selectedEntity}" />
			</p:commandButton>
		</p:column>

		<f:facet name="footer">
			<p:commandLink title="#{labels.excel}" ajax="false" disabled="#{fn:length(avaliacaoController.entities) lt 1}">
				<p:graphicImage value="#{resource['primefaces-ttg:images/excel.png']}" />
				<p:dataExporter type="xls" target="dtbEntities" fileName="avaliacoes" />
			</p:commandLink>
		</f:facet>

	</p:dataTable>

</ui:fragment>