<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/pages/templates/crud_template.xhtml">

	<ui:define name="breadCrumb">
		<h2>#{labels.menu_administracao} / #{labels.menu_administracao_avaliacao} / #{labels.menu_administracao_avaliacao_escala}</h2>
	</ui:define>

	<ui:define name="searchGrid">
		<h:panelGrid id="searchGrid" width="100%" rendered="#{null == escalaAvaliacaoController.entity}">

			<h:panelGrid columns="2" width="100%" columnClasses=",alignRight" id="filterGrid">
				<p:outputLabel for="nomeFilter" value="#{labels.nome}" styleClass="label" />
				<p:spacer />

				<p:inputText id="nomeFilter" style="width: 350px;" value="#{escalaAvaliacaoController.filterEntity.nome}" maxlength="50" />
				<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update="dtbEntities searchMessages"
					actionListener="#{escalaAvaliacaoController.search}" process="@this, filterGrid" oncomplete="PF('dtb').getPaginator().setPage(0);" />
			</h:panelGrid>

			<p:spacer height="10px" />
			<p:separator />
			<p:spacer height="10px" />
			<p:messages id="searchMessages" />

			<p:dataTable widgetVar="dtb" id="dtbEntities" var="entity" emptyMessage="#{labels.nenhum_resultado}" value="#{escalaAvaliacaoController.entities}"
				paginator="true" paginatorPosition="bottom" rows="15" currentPageReportTemplate="{currentPage} #{labels.de} {totalPages}" paginatorAlwaysVisible="false"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<p:column headerText="#{labels.codigo}" sortBy="#{entity.codigo}" style="width: 80px; text-align: center;">
					<h:outputText value="#{entity.codigo}" />
				</p:column>

				<p:column headerText="#{labels.nome}" sortBy="#{entity.nome}" style="text-align: center;">
					<h:outputText value="#{entity.nome}" />
				</p:column>

				<p:column headerText="#{labels.pontuacao_minima}" sortBy="#{entity.pontuacaoMinima}" style="width: 150px; text-align: center;">
					<h:outputText value="#{entity.pontuacaoMinima}" />
				</p:column>

				<p:column headerText="#{labels.pontuacao_maxima}" sortBy="#{entity.pontuacaoMaxima}" style="width: 150px; text-align: center;">
					<h:outputText value="#{entity.pontuacaoMaxima}" />
				</p:column>

				<p:column style="width:40px; text-align: center;">
					<f:facet name="header">#{labels.acoes}</f:facet>
					<p:commandButton icon="fa fa-fw fa-pencil" title="#{labels.botao_editar}" update=":searchForm :editForm" process="@this" resetValues="true">
						<f:setPropertyActionListener value="#{entity}" target="#{escalaAvaliacaoController.selectedEntity}" />
					</p:commandButton>
				</p:column>

				<f:facet name="header">
					<p:commandButton value="#{labels.botao_adicionar} " icon="fa fa-fw fa-plus" actionListener="#{escalaAvaliacaoController.add}" update=":searchForm :editForm"
						process="@this" resetValues="true" />
				</f:facet>

				<f:facet name="footer">
					<h:outputFormat value="#{fn:length(escalaAvaliacaoController.entities)} #{labels.registros_encontrados}" />
				</f:facet>
			</p:dataTable>

		</h:panelGrid>
	</ui:define>

	<ui:define name="editGrid">
		<h:panelGrid id="editGrid" width="100%" rendered="#{null != escalaAvaliacaoController.entity}">

			<p:fieldset legend="#{labels.informacoes}">
				<h:panelGrid columns="1">
					<p:outputLabel for="codigo" value="#{labels.codigo}" styleClass="label" />
					<p:inputText id="codigo" style="width: 30px;" required="true" requiredMessage="#{labels.obrigatoriedade_codigo}"
						value="#{escalaAvaliacaoController.entity.codigo}" maxlength="3" disabled="#{escalaAvaliacaoController.editing}" />

					<p:outputLabel for="nome" value="#{labels.nome}" styleClass="label" />
					<p:inputText id="nome" style="width: 350px;" required="true" requiredMessage="#{labels.obrigatoriedade_nome}"
						value="#{escalaAvaliacaoController.entity.nome}" maxlength="50" />

					<p:outputLabel for="pontuacaoMinima" value="#{labels.pontuacao_minima}" styleClass="label" />
					<p:inputNumber id="pontuacaoMinima" value="#{escalaAvaliacaoController.entity.pontuacaoMinima}" minValue="1" maxValue="100" required="true"
						requiredMessage="#{labels.obrigatoriedade_pontuacao_minima}" />

					<p:outputLabel for="pontuacaoMaxima" value="#{labels.pontuacao_maxima}" styleClass="label" />
					<p:inputNumber id="pontuacaoMaxima" value="#{escalaAvaliacaoController.entity.pontuacaoMaxima}" minValue="1" maxValue="100" required="true"
						requiredMessage="#{labels.obrigatoriedade_pontuacao_maxima}" />
				</h:panelGrid>
			</p:fieldset>

			<p:spacer />
			<p:separator />
			<p:spacer />

			<p:scrollPanel id="messagesPanel" scrollMode="native" styleClass="messagesPanel">
				<p:messages />
			</p:scrollPanel>

			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton id="submitButton" icon="fa fa-fw fa-save" value="#{labels.botao_gravar} " actionListener="#{escalaAvaliacaoController.save}" process="editGrid"
						update=":editForm :searchForm" />
					<p:commandButton icon="fa fa-fw fa-close" value="#{labels.botao_fechar}" actionListener="#{escalaAvaliacaoController.close}" process="@this"
						update=":searchForm :editForm" />
				</p:toolbarGroup>
			</p:toolbar>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>