<ui:fragment xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<div id="header">
		<a href="#{request.contextPath}">
			<div id="logo_cabecalho">
				<p:graphicImage value="#{resource['primefaces-ttg:images/dorime.png']}" />
			</div>
		</a>

		<div style="float: right; height: 100%; line-height: 70px;">
			<h:outputText value="#{sessionController.versaoSistema} - #{sessionController.dataBuild}" style="margin-right: 10px;" />
		</div>
	</div>

	<form id="logoutForm" action="#{request.contextPath}/j_spring_security_logout" method="post"></form>

	<ui:insert name="menu">
		<ui:include src="/pages/common/menu.xhtml" />
	</ui:insert>

	<p:idleMonitor timeout="1800000">
		<p:ajax event="idle" onstart="atualizaPagina(); " />
	</p:idleMonitor>
</ui:fragment>