<ui:fragment xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGrid columns="4" width="100%" columnClasses=",,,alignRight" id="filterGrid">
		<p:outputLabel for="nomeFilter" value="#{labels.nome}" styleClass="label" />
		<p:outputLabel for="statusFilter" value="#{labels.status}" styleClass="label" />
		<p:outputLabel for="tipoFilter" value="#{labels.tipo}" styleClass="label" rendered="#{parceiroController.viewClienteFornecedor}" />
		<p:spacer rendered="#{!parceiroController.viewClienteFornecedor}" />
		<p:spacer />
		<p:inputText id="nomeFilter" style="width: 540px;" value="#{parceiroController.filterEntity.nome}" maxlength="100" />
		
		<p:selectOneMenu id="statusFilter" value="#{parceiroController.filterEntity.status}" style="width:150px;">
			<f:selectItem itemLabel="" itemValue="" />
			<f:selectItems value="#{domCadastroController.statusParceiroMap}" />
		</p:selectOneMenu>
		<p:selectOneMenu id="tipoFilter" value="#{parceiroController.filterEntity.tipo}" style="width:200px;"
			rendered="#{parceiroController.viewClienteFornecedor}">
			<f:selectItem itemLabel="" itemValue="" />
			<f:selectItems value="#{parceiroController.tipos}" />
		</p:selectOneMenu>
		<p:spacer rendered="#{!parceiroController.viewClienteFornecedor}" />
		<p:commandButton value="#{labels.botao_pesquisar}" id="searchButton" icon="fa fa-fw fa-search" update="dtbEntities searchMessages"
			actionListener="#{parceiroController.search}" process="@this, filterGrid" oncomplete="PF('dtb').getPaginator().setPage(0);" />
	</h:panelGrid>

	<p:spacer height="10px" />
	<p:separator />
	<p:spacer height="10px" />
	<p:messages id="searchMessages" />

	<p:dataTable widgetVar="dtb" id="dtbEntities" var="entity" emptyMessage="#{labels.nenhum_resultado}" value="#{parceiroController.entities}"
		paginator="true" paginatorPosition="bottom" rows="15" currentPageReportTemplate="{currentPage} #{labels.de} {totalPages}"
		paginatorAlwaysVisible="false" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

		<p:column headerText="#{labels.cpf_cnpj_documento}" sortBy="#{entity.formattedDocumento}" style="text-align: center; width: 200px;">
			<h:outputText value="#{entity.formattedDocumento}" />
		</p:column>

		<p:column headerText="#{labels.nome}" sortBy="#{entity.nome}" style="text-align: center;">
			<h:outputText value="#{entity.nome}" />
		</p:column>

		<p:column headerText="#{labels.tipo}" sortBy="#{entity.deTipo}" style="width: 150px; text-align: center;"
			rendered="#{parceiroController.viewClienteFornecedor}">
			<h:outputText value="#{entity.deTipo}" />
		</p:column>

		<p:column headerText="#{labels.status}" sortBy="#{entity.deStatus}" style="width: 100px; text-align: center;">
			<h:outputText value="#{entity.deStatus}" />
		</p:column>

		<p:column style="width:40px; text-align: center;">
			<f:facet name="header">#{labels.acoes}</f:facet>
			<p:commandButton icon="fa fa-fw fa-pencil" title="#{labels.botao_editar}" update=":searchForm :editForm" process="@this" resetValues="true">
				<f:setPropertyActionListener value="#{entity}" target="#{parceiroController.selectedEntity}" />
			</p:commandButton>
		</p:column>

		<f:facet name="header">
			<p:commandButton value="#{labels.botao_adicionar}" icon="fa fa-fw fa-plus" actionListener="#{parceiroController.add}"
				update=":searchForm :editForm" process="@this" resetValues="true" />
		</f:facet>

		<f:facet name="footer">
			<h:outputFormat value="#{fn:length(parceiroController.entities)} #{labels.registros_encontrados}" />

			<p:commandLink title="#{labels.excel}" ajax="false" disabled="#{fn:length(parceiroController.entities) lt 1}"
				onclick="liberaDownload(); PrimeFaces.monitorDownload(showStatus, hideStatus);">
				<p:graphicImage value="#{resource['primefaces-ttg:images/excel.png']}" />
				<p:fileDownload value="#{parceiroController.relatorioExcel}" />
			</p:commandLink>
		</f:facet>
	</p:dataTable>

</ui:fragment>