<ui:fragment xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:shiro="http://shiro.apache.org/tags"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:sec="http://www.springframework.org/security/tags">

	<p:spacer rendered="#{!sessionController.authenticated}" style="width: 48px" />
	<h:panelGrid columns="2" width="100%" styleClass="gridMenu" columnClasses=",alignRight" rendered="#{sessionController.authenticated}">
		<h:form prependId="false" id="formMenu">
			<f:event type="preRenderView" listener="#{permissaoMenuFilter.filtraMenuVazio}" />
			<p:menubar id="menu" autoDisplay="false">
				<p:menuitem icon="fa fa-fw fa-home" value="#{labels.menu_inicio}" url="/pages/home.jsf" />

				<p:submenu icon="fa fa-fw fa-gears" label="#{labels.menu_administracao}">

					<p:submenu icon="fa fa-fw fa-unlock" label="#{labels.menu_administracao_acesso}">
						<p:submenu icon="fa fa-fw fa-user" label="#{labels.menu_administracao_acesso_usuario}">
							<p:menuitem icon="fa fa-fw fa-suitcase" value="#{labels.menu_administracao_acesso_usuario_colaborador}"
								url="/pages/administracao/acesso/usuario/colaborador.jsf"
								rendered="#{sec:isAllowed('/pages/administracao/acesso/usuario/colaborador.jsf', '')}" />
							<p:menuitem icon="fa fa-fw fa-magic" value="#{labels.menu_administracao_acesso_usuario_sistema}"
								url="/pages/administracao/acesso/usuario/sistema.jsf" rendered="#{sec:isAllowed('/pages/administracao/acesso/usuario/sistema.jsf', '')}" />
							<p:menuitem icon="fa fa-fw fa-bell" value="#{labels.menu_administracao_acesso_usuario_externo}"
								url="/pages/administracao/acesso/usuario/externo.jsf" rendered="#{sec:isAllowed('/pages/administracao/acesso/usuario/usuario.jsf', '')}" />
						</p:submenu>
						<p:menuitem icon="fa fa-fw fa-star" value="#{labels.menu_administracao_acesso_perfil}" url="/pages/administracao/acesso/perfil.jsf"
							rendered="#{sec:isAllowed('/pages/administracao/acesso/perfil.jsf', '')}" />
					</p:submenu>

					<p:submenu icon="fa fa-fw fa-folder-open" label="#{labels.menu_administracao_auxiliar}">
						<p:menuitem icon="fa fa-fw fa-folder" value="#{labels.menu_administracao_auxiliar_departamento}"
							url="/pages/administracao/auxiliar/departamento.jsf" rendered="#{sec:isAllowed('/pages/administracao/auxiliar/departamento.jsf', '')}" />
						<p:menuitem icon="fa fa-fw fa-list-ol" value="#{labels.menu_administracao_auxiliar_nivel_hierarquia}"
							url="/pages/administracao/auxiliar/nivel_hierarquia.jsf" rendered="#{sec:isAllowed('/pages/administracao/auxiliar/nivel_hierarquia.jsf', '')}" />
						<p:menuitem icon="fa fa-fw fa-bank" value="#{labels.menu_administracao_auxiliar_banco}" url="/pages/administracao/auxiliar/banco.jsf"
							rendered="#{sec:isAllowed('/pages/administracao/auxiliar/banco.jsf', '')}" />
						<p:menuitem icon="fa fa-fw fa-sitemap" value="#{labels.menu_administracao_auxiliar_codigo_contabil}"
							url="/pages/administracao/auxiliar/codigo_contabil.jsf" rendered="#{sec:isAllowed('/pages/administracao/auxiliar/codigo_contabil.jsf', '')}" />
					</p:submenu>

					<p:submenu icon="fa fa-fw fa-bar-chart" label="#{labels.menu_administracao_avaliacao}">
						<p:menuitem icon="fa fa-fw fa-bullseye" value="#{labels.menu_administracao_avaliacao_processo}"
							url="/pages/administracao/avaliacao/processo.jsf" rendered="#{sec:isAllowed('/pages/administracao/avaliacao/processo.jsf', '')}" />
						<p:menuitem icon="fa fa-fw fa-paperclip" value="#{labels.menu_administracao_avaliacao_escala}" url="/pages/administracao/avaliacao/escala.jsf"
							rendered="#{sec:isAllowed('/pages/administracao/avaliacao/escala.jsf', '')}" />
					</p:submenu>

					<p:submenu icon="fa fa-fw fa-inbox" label="#{labels.menu_administracao_cadastro}">
						<p:submenu icon="fa fa-fw fa-institution" label="#{labels.menu_administracao_cadastro_parceiro}">
							<p:menuitem icon="fa fa-fw fa-building" value="#{labels.menu_administracao_cadastro_parceiro_cliente_fornecedor}"
								url="/pages/administracao/cadastro/parceiro/cliente_fornecedor.jsf"
								rendered="#{sec:isAllowed('/pages/administracao/cadastro/parceiro/cliente_fornecedor.jsf', '')}" />
							<p:menuitem icon="fa fa-fw fa-bank" value="#{labels.menu_administracao_cadastro_parceiro_fundo}"
								url="/pages/administracao/cadastro/parceiro/fundo.jsf" rendered="#{sec:isAllowed('/pages/administracao/cadastro/parceiro/fundo.jsf', '')}" />
						</p:submenu>
					</p:submenu>

					<p:submenu icon="fa fa-fw fa-file" label="#{labels.menu_administracao_contratos}">
						<p:menuitem icon="fa fa-fw fa-paperclip" value="#{labels.menu_administracao_contratos_tipo}" url="/pages/administracao/contratos/tipo.jsf"
							rendered="#{sec:isAllowed('/pages/administracao/contratos/tipo.jsf', '')}" />
					</p:submenu>
				</p:submenu>

				<p:submenu icon="fa fa-fw fa-file" label="#{labels.menu_contratos}">
					<p:menuitem icon="fa fa-fw fa-file-text" value="#{labels.menu_contratos_requisicao}" url="/pages/contratos/requisicao.jsf"
						rendered="#{sec:isAllowed('/pages/contratos/requisicao.jsf', '')}" />
						
						<p:menuitem icon="fa fa-fw fa-file-text-o" value="#{labels.menu_contratos_vendas_madeira}" url="/pages/contratos/contrato_vendas_madeira.jsf" 
						rendered="#{sec:isAllowed('/pages/contratos/contrato_vendas_madeira.jsf', '')}" />
						
					<p:menuitem icon="fa fa-fw fa-table" value="#{labels.menu_contratos_requisicao_consulta}" url="/pages/contratos/requisicao_consulta.jsf"
						rendered="#{sec:isAllowed('/pages/contratos/requisicao_consulta.jsf', '')}" />
					<p:menuitem icon="fa fa-fw fa-search" value="#{labels.menu_contratos_contrato_consulta}" url="/pages/contratos/contrato_consulta.jsf"
						rendered="#{sec:isAllowed('/pages/contratos/contrato_consulta.jsf', '')}" />
					<p:menuitem icon="fa fa-fw fa-history" value="#{labels.menu_contratos_historico}" url="/pages/contratos/historico.jsf"
						rendered="#{sec:isAllowed('/pages/contratos/historico.jsf', '')}" />
				</p:submenu>

				<p:submenu icon="fa fa-fw fa-users" label="#{labels.menu_pessoas}">
					<p:submenu icon="fa fa-fw fa-bar-chart" label="#{labels.menu_pessoas_avaliacao}">
						<p:menuitem icon="fa fa-fw fa-search" value="#{labels.menu_pessoas_avaliacao_consulta}" url="/pages/pessoas/avaliacao/consulta.jsf"
							rendered="#{sec:isAllowed('/pages/pessoas/avaliacao/consulta.jsf', '')}" />
						<p:menuitem icon="fa fa-fw fa-forward" value="#{labels.menu_pessoas_avaliacao_indicacao}" url="/pages/pessoas/avaliacao/indicacao.jsf"
							rendered="#{sec:isAllowed('/pages/pessoas/avaliacao/indicacao.jsf', '')}" />
						<p:menuitem icon="fa fa-fw fa-pencil" value="#{labels.menu_pessoas_avaliacao_processo}" url="/pages/pessoas/avaliacao/processo.jsf"
							rendered="#{sec:isAllowed('/pages/pessoas/avaliacao/processo.jsf', '')}" />
						<p:menuitem icon="fa fa-fw fa-check" value="#{labels.menu_pessoas_avaliacao_resultado}" url="/pages/pessoas/avaliacao/resultado.jsf"
							rendered="#{sec:isAllowed('/pages/pessoas/avaliacao/resultado.jsf', '')}" />
						<p:menuitem icon="fa fa-fw fa-line-chart" value="#{labels.menu_pessoas_avaliacao_dashboard}" url="/pages/pessoas/avaliacao/dashboard.jsf"
							rendered="#{sec:isAllowed('/pages/pessoas/avaliacao/dashboard.jsf', '')}" />
					</p:submenu>
				</p:submenu>
				
					<p:menuitem icon="fa fa-fw fa-file" value="#{labels.menu_relatorio_etapas}" url="/pages/contratos/relatorio_etapas.jsf"
						rendered="#{sec:isAllowed('/pages/contratos/relatorio_etapas.jsf', '')}" />
			</p:menubar>
		</h:form>

		<h:form rendered="#{sessionController.authenticated}">
			<h:panelGrid columns="2" style="float: right !important; width: min-width: 300px !important;">
				<p:link href="/pages/pessoas/contatos.jsf" style="margin-right: 30px; font-size: 25px; color: #00457C !important;"
					rendered="#{sec:isAllowed('/pages/pessoas/contatos.jsf', '')}" title="#{labels.menu_pessoas_contatos}">
					<h:outputText class="fa fa-fw fa-address-book" />
				</p:link>
				<p:commandButton id="menuUsuario" value="#{sessionController.authenticatedUser.principal.usuario.nome}" type="button" icon="fa fa-fw fa-user"
					style="margin-right: 20px; min-width: 150px; border: #F6F6F6 1px solid !important;" />
				<p:menu overlay="true" trigger="menuUsuario" my="left top" at="left bottom">
					<p:menuitem icon="fa fa-fw fa-key" value="#{labels.menu_usuario_acesso_alteracao_senha}" url="/pages/usuario/acesso/alteracao_senha.jsf" />
					<p:menuitem icon="fa fa-fw fa-sign-out" value="#{labels.menu_sair}" onclick="PF('statusDialog').show();"
						url="javascript:document.getElementById('logoutForm').submit();" />
				</p:menu>
			</h:panelGrid>
		</h:form>
	</h:panelGrid>
</ui:fragment>